  
   /* HEADER */
   
   nav.main {
     position: fixed;
     right: 10px;
     margin-top:-200px;
     top: 50%;
     z-index: 100;
     width: 44px;
     height: 400px;
     display: block;
	   font-family: 'nimbus_sans_novus_d_otmedium';
     background: url(../img/bg_nav_temp.png) no-repeat 0 0;
   }
   
   nav.main li {
     height: 43px;
     width: 100%;
     position: relative;
     margin-bottom: 1px;
     float: left;
     clear: both;
   }
   
   nav.main li a {
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     transition: width 100ms;
     text-decoration: none;
   }
   
   .btn-education a {
     background: url(http://snapshot.travel/img/bg_nav_education.png) no-repeat right 0;
   }
   
   .btn-consultancy a {
     background: url(http://snapshot.travel/img/bg_nav_consultancy.png) no-repeat right 0;
   }

    .btn-sign-up a{
       background: url(../img/bg_nav_bright.png) no-repeat right 0;
    }

    .btn-how-it-works a{
       background: url(../img/bg_nav_cogs.png) no-repeat right 0;
    }

   .btn-technology a {
     background: url(http://snapshot.travel/img/bg_nav_technology.png) no-repeat right 0;
   }
   
   .btn-informations a {
     background: url(http://snapshot.travel/img/bg_nav_about.png) no-repeat right 0;
   }
   
   .btn-twitter a {
     background: url(http://snapshot.travel/img/bg_nav_twitter.png) no-repeat right 0;
   }
   
   .btn-linkedin a {
     background: url(http://snapshot.travel/img/bg_nav_linkedin.png) no-repeat right 0;
   }
   
   .btn-contact a {
     background: url(http://snapshot.travel/img/bg_nav_contact.png) no-repeat right 0;
   }
   
   .btn-imprint a {
     background: url(http://snapshot.travel/img/bg_nav_imprint.png) no-repeat right 0;
   }
   
  .btn-blog a {
     background: url(http://snapshot.travel/img/bg_nav_blog.png) no-repeat right 0;
   }
   
   nav.main li a > span {
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 0;
     height: 29px;
     padding-top: 14px;
     padding-left: 0;
     background: url(http://snapshot.travel/img/bg_nav_span.png) no-repeat 0 0;
     text-transform: uppercase;
     white-space: nowrap;
     font-size: 10px;
     overflow: hidden;
     color: #fff;
     transition: all 100ms;
   }
   
   .safari nav.main li a > span {
     transition: none;
   }
   
   nav.main li.current a {
     background-position: right -43px;
   }
   
   nav.main li a:hover,
   body.open-contact nav.main li.btn-contact a,
   body.open-imprint nav.main li.btn-imprint a {
     width: 154px;
     background-position: right -86px;
   }
   
   nav.main li a:hover > span,
   body.open-contact nav.main li.btn-contact a > span,
   body.open-imprint nav.main li.btn-imprint a > span {
     width: 90px;
     padding-left: 20px;
   }
   
   nav.main li.btn-home {
     height: 48px;
     width: 100%;
     position: relative;
     margin-bottom: 0;
   }
   
   nav.main li.btn-home a {
     width: 100% !important;
   }
   
   nav.main li.btn-home a > span {
     display: none;
   }
   
   nav.main li.btn-twitter a > span,
   nav.main li.btn-linkedin a > span,
   nav.main li.btn-googleplus a > span {
     padding-top: 7px;
     height: 36px;
   }
   
   nav.main li.btn-twitter a > span span,
   nav.main li.btn-linkedin a > span span,
    nav.main li.btn-googleplus a > span span {
     display: block;
     color: #656565;
   }
   
   header.main .contact,
   header.main .imprint {
     position: fixed;
     right: 165px;
     top: 495px;
     background: url(http://snapshot.travel/img/bg_header_contact.png) no-repeat 0 0;
     z-index: 99;
     width: 0;
     height: 0;
     overflow: hidden;
     opacity: 0;
     transition: opacity 200ms 0, width 0 200ms, height 0 200ms;
     font-size: 14px;
     color: #fff;
     -webkit-font-smoothing: antialiased;
     font-style: normal;
   }
   
   header.main .imprint {
     background: url(http://snapshot.travel/img/bg_header_imprint.png) no-repeat 0 0;
     top: 506px;
   }
   
   header.main address strong {
     font-weight: 400;
     font-family: "NimbusSansNovusW01-Bold 885972", sans-serif;
     text-transform: uppercase;
     font-size: 15px;
     display: inline-block;
     margin-bottom: 8px;
   }
   
   header.main address {
     line-height: 1.4;
   }
   
   header.main address a {
     color: #ff4700;
     text-decoration: none;
     transition: color 100ms;
   }
   
   header.main address a:hover {
     color: #fff;
   }
   
   header.main address .col {
     float: left;
     width: 200px;
     padding-top: 15px;
   }
   
   header.main address .col-1 {
     padding-left: 28px;
     width: 172px;
   }
   
   body.open-contact header.main .contact,
   body.open-imprint header.main .imprint {
     width: 450px;
     height: 140px;
     opacity: 1;
     transition: opacity 200ms 0, width 0 0, height 0 0;
   }
   
   body.open-imprint header.main .imprint {
     height: 200px;
   }


  header.main address .col-1 {
    padding-left: 28px;
    width: 172px;
  }
  header.main address .col {
    float: left;
    width: 200px;
    padding-top: 15px;
  }