.three-benefits{
	background: url(../img/benefits-graphic.png);
	width: 496px;
	height: 518px;
	margin-left: 30px;
	margin-top: 80px;
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
}

#sign-up .decription{
	display: inline-block;
	font-family: 'nimbus_sans_novus_d_otBdCn';
	margin-left: 110px;
	margin-top: 66px;
	color: #4e4e4e;
	width: 690px;
	margin-right: 65px;
	margin-bottom: 20px;
}

#sign-up h1{
	font-size: 30px;
	margin-bottom: 35px;
}

#sign-up ul{
	font-size: 26px;
	margin-bottom: 40px;
}

#sign-up ul:before{	
    content:attr(aria-label);
}

#sign-up li{
	display: block;
	padding-left: 40px;
	background: url(../img/snapshot-benefits-desc-tick.png) 0px 4px no-repeat
}
	#sign-up li:first-child {
		margin-top: 12px;
	}

#sign-up em{
	font-size: 30px;
	font-family: "Times New Roman";
	font-style: italic;
	margin-left: 10px;
	display: inline-block;
}

#sign-up p{
	margin-top: 32px;
	font-size: 30px;
	margin-left: 10px;
}

#sign-up a{
	margin-top: 32px;
	font-size: 30px;
	color:#d02760;
}

#sign-up{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: linear-gradient(to right, rgba(254,254,254,0.1) 0%,rgba(0,0,0,0.25) 100%);
	padding-bottom: 304px;
	position: relative;
}

#signup-form{
	position: absolute;
	left: 602px;
	bottom: 0;
	width: 648px;
	height: 391px;
	background: url(../img/hexagon-signup.png);
	text-align: center;
	padding: 70px 0 0;
	box-sizing: border-box;
	color: white;
}

#signup-form h1 {
    font-family: "nimbus_sans_nov_d_otbold";
    font-size: 26px;
}

#signup-form p{
    font-family: "nimbus_sans_novus_d_otSBd";
    font-size: 19px;
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

#signup-form .description{
	width: 260px;
	margin-top: 32px;
}

#signup-form form{
	margin-top: 28px;
	text-align: left;
	margin-left: 72px;
}

#signup-form input{
	height: 34px;
	padding-left: 10px;
	font-size: 18px;
	font-family: nimbus_sans_novus_d_otmedium;
	border: 1px solid #959595;
}

#signup-form input.email{
	width: 447px;
	margin-top: 10px;
}

#signup-form input.name{
	width: 186px;
}

#signup-form input.surname{
	width: 247px;
	margin-left: 10px;
}

#signup-form button{
	background: url(../img/icons-snapshot-go.png);
	width: 51px;
	height: 56px;
	background-position: -32px 0;
	border: none;
	position: absolute;
	bottom: 28px;
	right: 65px;
	cursor: pointer;
}

#signup-form button:hover,
#signup-form button:focus {
    outline: none;  opacity: 0.9;
}

#floating-price-hexagon{
	background: url(../img/hexagon-pricing.png);
	font-family: 'nimbus_sans_novus_d_otmedium';
	padding: 0 20px;
	box-sizing: border-box;
	width: 242px;
	color: white;
	text-align: center;
	height: 242px;
	position: absolute;
	bottom: 150px;
	left: 1200px
}

#floating-price-hexagon p{
	font-size: 36px;
	margin-bottom: 10px;
	margin-top: 60px;
}

#floating-price-hexagon em{
	font-size: 18px;
	font-family: 'nimbus_sans_novus_d_otmedium';
}


/* ../img/bubbles-nav.png */

/*TODO zmienic obrazek manager'a, parallaxy, navbar, podpiąć pdf'y*/
