html{
    background: url(../img/pattern-hexagon-light.png);
    height: 100%;
}

body{ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: linear-gradient(to right, rgba(254,254,254,0.11) 0%,rgba(0,0,0,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cfefefe', endColorstr='#8ce7d8dc',GradientType=1 ); 
    font-family: 'nimbus_sans_novus_d_otmedium';
    height: 100%;
}

header {
    height: 148px;
    background: url(../img/snapshot-header.png) center center;
    color: white;
    /*text-indent: -400px;*/
}

    header h1{
        text-indent: -9999px;
        direction: ltr;
    }

.nav-bubbles{
    display: block;
    position: absolute;
    left: 42px;
    margin-top: -26px;
    width: 15px;
    top: 50%;
    height: 59px;
    background: url(../img/bubbles-nav.png) no-repeat 0px 0px;
}

.nav-bubbles.second{
    background-position: -22px 0px;
}

.nav-bubbles.third{
    background-position: -44px 0px;
}


.btn-down{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -17px;
    width: 35px;
    overflow: hidden;
    background: url(../img/icons-snapshot-go.png) no-repeat -32px -59px;
    z-index: 3;
}

.btn-down.dark{
    height: 32px;
}


.btn-down.light{
    height: 30px;
    bottom: 10px;
    background-position: -32px -91px;
}

section{
    position: relative;
}

.parallax-divider{
    padding-top: 42px;
    padding-bottom: 47px;
    position: relative;
    z-index: 5;
    text-align: center;
    color: white;
    font-family: "nimbus_sans_novus_d_otSBd";
    text-transform: uppercase;
}

.parallax-divider.black {
    width: 100%;
    background-image: url(../img/pattern.png);
}

.parallax-divider.pink{
    background-image: url(../img/pattern-pink.png);
}

.parallax-divider h1{
    font-size: 36px;
    font-family: "nimbus_sans_nov_d_otbold"
}

.parallax-divider p{
    font-size: 32px;
}


p span, p a
{
    color: #df5374;
}


.inner{
    max-width: 1600px;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}
